<div class="d-flex justify-content-center" style="width:100%;position: absolute;color: tomato;height: 100%;background-image: url('../../assets/bg2.jpg');background-size: cover;background-repeat: no-repeat">
<form [formGroup]="form" (ngSubmit)="registeruser()" style="top: 20%;position: absolute;">

    <p style="font-size: xx-large;  text-align: center; color:red; font-weight: 700;">SignUp</p>
    <div class="table-borderless" style="border-spacing:10px 15px; font-size: large; color: violet;">
    <tr>
        <th>Username:</th>
    <th><input type="text" formControlName="username"></th>
    </tr>
    <tr>
    <th>Email:</th>
<th><input type="text" formControlName="email"></th>
    </tr>
    <tr>
        <th>Password:</th>
    <th><input #p1 type="password" formControlName="password"></th>
    </tr>
    <tr>
    <th>Confirm Password:</th>
<th><input #p2 type="password" formControlName="password2"></th>
    </tr>
    </div><div class="d-flex justify-content-center" style="padding-top: 20px; padding-bottom: 20px;">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid" style="padding-left: 20px;">SignUp</button><br>
        </div>
    <div class="d-flex justify-content-center" style=" padding-bottom: 20px; font-size: larger;">
        Already have an account?<a routerLink="/login" style="color: blue;text-decoration: underline;">Login</a>
        </div>
</form>
</div>

